@media only screen and (max-width: 768px) {
  .container {
    min-width: 29.5rem;
    margin: 0 2.4rem;
  }

  .date {
    max-width: 34.3rem;
    min-height: 48.6rem;
    border-bottom-right-radius: 10rem;

    &__inputs {
      div {
        margin-right: 1.6rem;
        h3 {
          font-size: 1.2rem;
          padding-bottom: 0.4rem;
        }
        input {
          width: 8.767rem;
          height: 5.4rem;
          font-size: 2rem;
          padding-left: 1.6rem;
        }
        p {
          bottom: -15%;
        }
      }
    }

    &__arrow {
      img {
        top: -3.2rem;
        right: 40%;
        width: 6.4rem;
        height: 6.4rem;
        padding: 1.8rem;
      }
    }

    &__outputs {
      h1 {
        font-size: 5.6rem;
        line-height: 5.6rem;
      }
    }
  }
}
